@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*html {
    zoom: 75%;
}*/

body {
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden;
    overflow-y: auto;
    zoom: 80%;
    font-family: 'Poppins', sans-serif;
}
body.business-renewal-portal-page.overflow-active {
    overflow: hidden;
}
.bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.burbank-register-header a.navbar-brand {
    margin: 0 !important;
}
.login-page-v2 {
    padding-top: 60px;
}
.fs-18{
    font-size: 18px !important;
}
.login-page-v2-content {
    padding-top: 100px;
}
.burbank-register-header-wrap,.content-container,.form-container {
    padding-top: 20px;
    padding-bottom:60px;
}
.burbank-body-form-wrap {
    padding-top: 50px;
}
.burbank-form-header h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}
.burbank-form-content {
    max-width: 814px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 3px 70px #00000053;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    z-index: 99;
}
.fs-7{
    font-size: 14px !important;
}
.login-page-v2-content h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 95px;
    line-height: 1.3;
}
.form-check-input {
    width: 1.35em;
    height: 1.35em;
}
.portal-page-header {
    padding-bottom: 10px;
}
.portal-page-header a.navbar-brand img {
    width: 180px !important;
}
.portal-page-header h1 {
    font-size: 36px !important;
    color: #372975 !important;
    font-weight: bold !important;
}
p {
    font-family: 'Poppins', sans-serif;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.block-height{
    height: 80px;
}

.burbank-register-header-wrap form {
    max-width: 600px;
    padding: 60px 20px 10px;
}
.burbank-register-icon {
    text-align: center;
    margin-bottom: -90px !important;
    max-width: 814px;
    width: 100%;
    margin: 0 auto;
}
.burbank-icon-wrap {
    display: inline-block;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0px 3px 70px #00000053;
}
.login-icon-wrap{
    border-radius: 50%;
    position: relative;
    z-index: 999;
    padding: 30px;
}
form label.form-label {
    font-size: 18px;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    /*margin-bottom: 0 !important;
    padding-bottom: 13px;*/
    display: inline-block;
    color: #000;
}
form input.form-control,form select.form-control {
    box-shadow: 0px 0px 8px #2c61ae3c;
    color: #000;
    padding: 15px 20px;
    box-sizing: border-box;
    border: none;
    font-family: 'Poppins', sans-serif;
}
.form-field {
    padding-bottom: 8px;
}
button.btn-primary,.btn-primary,.btn-primary:active,.btn-primary:focus {
    background: #2C61AE;
    border-color: #2C61AE;
    box-shadow: 0px 3px 9px #2c61ae7c;
    padding: 15px 80px;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .96px;
    font-weight: bold;
}
tbody tr td {
    font-weight: 400 !important;
}
button.btn-primary:hover,.btn-primary:hover {
    background: #2C61AE;
    border-color: #2C61AE;
    color: #fff;
}
.btn-secondary:active,.btn-secondary:focus,.btn-primary:active,.btn-primary:focus,.no-shadow {
    /*border: none !important;*/
    box-shadow: none !important;
}
.modal-border span {
    border-top: 1px dashed #707070;
}
.text-535353{
    color: #535353 !important;
}
button.btn-secondary,.btn-secondary,.btn-secondary:active,.btn-secondary:focus {
    box-shadow: 0px 3px 9px #2c61ae7c;
    border: 1px solid #2C61AE;
    color: #2C61AE;
    font-family: 'Poppins', sans-serif;
    padding: 15px 42px;
    box-sizing: border-box;
}
button.btn {
    height: 60px;
}
.text-green{
    color: #07D39C !important;
}
button.btn-secondary:hover,a.btn-secondary:hover {
    background-color: #2C61AE !important;
    color: #fff;
}
.etc-login-form a {
    font-size: 14px;
    line-height: 19px;
    font-family: 'Poppins', sans-serif;
    color: #2C61AE;
}
.etc-login-form a.forgot-pw {
    color: #919191;
}
.etc-login-form a:hover{
    text-decoration: underline !important;
}
.portal-page-header i.fas {
    font-size: 24px;
    background: #2C61AE;
}
.menu-col {
    background: transparent linear-gradient(180deg, #47C2C7 0%, #453192 100%) 0% 0% no-repeat padding-box;
    position: relative;
    max-width: 400px;
    width: 5%;
}
.header-btns>div a svg path {
    fill: #fff !important;
}
.header-btns>div a:hover svg path {
    fill: #2C61AE !important;
}
body.application-submitted .modal-border:before, body.application-submitted .modal-border:after {
    top: -2px;
}
.note-info p {
    font-size: 18px !important;
}
.header-btns>div a:hover {
    background-color: transparent !important;
    transition: .3s all;
}
.header-btns>div a{
    height: 45px;
    width: 45px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: #2C61AE;
    border: 1.5px solid #2C61AE40;
    margin-right: 12px;
}
.menu-col h3 {
    letter-spacing: 4.2px;
}
ul {
    list-style: none;
}
a,.cursor-pt{
    cursor: pointer;
}
.portal-page-header h1,div#cart-details .modal-header .modal-title,div#payment-confirmation .modal-header .modal-title,.payee-info span {
    color: #2C61AE;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.modal-header i.fas {
    font-size: 75px;
    color: #4B81D2 !important;
}
body.business-renewal-portal-page .content-item {
    width: 80%;
}
body.business-renewal-portal-page .menu-contents.menu-item {
    width: 18%;
    /*min-height: 122vh;
    min-height: 133vh !important;*/
}
.business-info>div {
    word-break: break-all;
}
ul li a.bg-overlay-active {
    background-color: rgb(0 0 0 / 50%);
}
ul li ul.show li a.bg-overlay-active {
    background-color: rgb(0 0 0 / 20%);
}
.menu-toggle-arrow{
    cursor:pointer;
    border-radius: 0%;
    background-color: transparent;
}
body>.container-row-fluid{
    position: relative;
}
body.menu-toggller-active .menu-toggle{
    display: none;
}
body.menu-toggller-active .main-menu-items {
    display: block !important;
    width: 20%;
}

body.menu-toggller-active .data-col {
    width: 78%;
}
.menu-col h3 img.menu-toggle-arrow {
    width: 42px;
    margin-right: 18px;
    margin-left: -31px;
}
body.menu-toggller-active .main-menu-items img.menu-toggle-arrow {
    transform: rotate(180deg);
    transition: .5s all;
}
.data-col {
    padding: 35px 70px 30px 50px;
    width: 93%;
}
.menu-toggle li img {
    width: 42px;
    margin-bottom: 15px;
    background-color: rgb(0 0 0 / 28%);
    border-radius: 50%;
}
.menu-toggle li.bg-active img {
    background-color: #000;
    /*border-radius: 50%;*/
}
h3.section-header {
    color: #2C61AE;
    letter-spacing: 3.5px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    text-transform: capitalize;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 12px;
}
h3.section-header:before {
    content: '';
    height: 5px;
    width: 50px;
    background-color: #2C61AE;
    position: absolute;
    bottom: 0px;
    left: 0;
}
.content-inner h6:before {
    content: '';
    height: 3px;
    width: 35px;
    background-color: #2C61AE53;
    position: absolute;
    bottom: 6px;
    left: 11px;
}
.profile-page-content-v2  .content-inner h6:before {
    left: 0px;
}
.content-inner h6 {
    letter-spacing: 1.6px;
}
.data-main h5 {
    color: #453192;
}
.content-inner p,.data-main p {
    font-size: 18px;
    color: #313131;
    font-family: 'Poppins', sans-serif;
}
.content-wrap > div {
    box-shadow: 0px 0px 20px #00000033;
    min-height: 290px;
}
.profile-page-content-v2 .content-wrap > div {
    box-shadow: 0px 0px 20px #00000033;
    min-height: auto;
    border-bottom: 9px solid #47C2C7;
}
.card-content-link a {
    font-size: 12px;
    letter-spacing: 0.63px;
}
.profile-page-content content-inner img {
    max-width: 80px !important;
    max-height: 35px !important;
}
.menu-contents ul li a {
    text-indent: 25px;
    background-repeat: no-repeat;
    background-size: 43px;
    background-position: 7.5%;
    position: relative;
    padding-right: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 65px !important;
    font-size: 18px !important;
}
.menu-contents>ul>li>a::before {
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    background-image: url('Site-Images/Mins.svg');
    right: calc( 50% - 130px);
    top: 21px;
}
.menu-contents>ul>li>a.collapsed::before {
    background-image: url('Site-Images/plus.svg');
}
.user-icon {
    min-height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /*width: 70px;
    display: inline-block;*/
}
.menu-contents {
    min-height: 750px;
}
.user-profile {
    background-color:#00000033;
    /*position: absolute;*/
    bottom: 0;
}
.user-profile p {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.4px;
}
.bg-darkblue{
    background-color: #2C61AE !important;
}
.bg-cyanblue{
    background-color: #47C2C7 !important;
}
.bg-fafafa{
    background-color: #fafafa;
}
img.profile-v2-icon {
    background: #FAFAFA 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
}
.bg-darkerblue {
    background-color: #235398;
}
.modify-data-page-content form {
    max-width: 910px;
    margin: 0 auto;
    box-sizing: border-box;
    box-shadow: 0px 0px 45px #2C61AE29;
}
.modify-data-page-content form label {
    font-family: 'Poppins', sans-serif;
}
.modify-data-page-content form input,.modify-data-page-content form select {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #000;
}
select:required:invalid {
    color: #cbcbcb;
}
::placeholder {
    color: #cbcbcb;
    opacity: 1;
}
:-ms-input-placeholder {
    color: #adadad;
}
::-ms-input-placeholder {
    color: #adadad;
}
.modify-content-btn {
    max-width: 910px;
    margin: 0 auto;
}
.change-password form {
    max-width: 757px;
}
.my-permits-cart-content form {
    max-width: 100%;
    padding: 0;
    margin: 0;
}
.border-blue{
    border: 2px solid #2C61AE40 !important;
}
.border-radius-25{
    border-radius: 25px;
}
.blue-shadow{
    box-shadow: 0px 0px 8px #2C61AE3D;
}
.w-fit-content{
    width: fit-content !important;
}
.modal-content {
    box-shadow: 0px 3px 45px #2c61ae29;
    border: none !important;
}
.permits-cart-value span {
    color: #cbcbcb;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
.permits-cart-value p {
    color: #2C61AE;
    font-family: 'Poppins', sans-serif;
}
span.cart-value {
    top: -20px;
    border-radius: 50%;
    border: 3px solid #fff;
    right: -20px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}
.table-wrap,.note-info {
    box-shadow: 0px 0px 45px #2c61ae29;
}
th,td{
    white-space: nowrap;
    word-break: keep-all;
}
thead tr th {
    font-weight: bold;
}
table thead tr th,tfoot tr td {
    color: #454545;
    border: none;
}
.bg-lightgrey{
    background-color: #f7f7f7 !important;
}
.bg-f8{
    background-color: #f8f8f8;
}
tbody tr {
    border-bottom: 1px dashed #DBDBDB;
}
tbody,td{
    border: none;
}
.bg-f0{
    background-color: #F0F0F0;
}
table th,table tbody tr td,tfoot tr td {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    line-height: 22px;
    text-align: left;
    font-weight: 400;
    color: #000;
}
.text-cbcbcb{
    color: #cbcbcb !important;
}
.text-darkblue{
    color: #2C61AE !important;
}
button.btn-close {
    border: 2px solid #C3C3C3;
}
.text-c3c3c3{
    color: #C3C3C3 !important;
}
.bg-transparent{
    background: transparent !important;
}
.border-none{
    border: none !important;
}
.border-white{
    border-bottom: 4px solid #fff;
}
.modal-body table tbody tr td {
    font-weight: 500;
}
form input:focus, form input:active, form textarea:active, form textarea:focus {
    border-color: transparent !important;
    box-shadow: 0px 0px 8px #2c61ae3d !important;
}
.text-red{
    color: #ff0000;
}
.text-black{
    color: #000;
}
.font-roboto{
    font-family: 'Poppins', sans-serif;
}
.font-medium{
    font-weight: 500 !important;
}
.menu-contents>ul>li>ul>li>a{
    text-indent: 0px;
    position: relative;
    padding-left: 110px !important;
}
.menu-contents>ul>li>ul>li>a::before {
    background-repeat: no-repeat;
    background-size: 7px;
    background-position: center;
    position: absolute;
    content: '';
    height: 10px;
    width: 10px;
    background-image: url('Site-Images/Submenu-arrow.svg');
    left: 89px;
    top: 25px;
}
body.Dop-login-page .burbank-form-content {
    max-width: 750px;
}
.form-field label{
    font-weight: 500 !important;
}
.form-field input {
    font-weight: 400 !important;
}
body.remove-overflow {
    overflow-y: auto !important;
}
.cancel-inspection-form form input.form-check-input,form input.form-check-input {
    border: 1px solid #A5A5A5;
    cursor: pointer;
}
.form-check-input[type=checkbox]~label {
    cursor: pointer;
}
.cancel-inspection-form form input.form-check-input:focus,input.form-check-input:focus {
    border: 1px solid #A5A5A5 !important;
    box-shadow: none !important;
}
body.profile-v1 .content-wrap img {
    width: 70px;
    background-color: #FAFAFA;
    height: 34px;
}
.card-content-link {
    max-width: 100%;
    height: 55px;
}
.portal-page-header nav.navbar {
    padding-bottom: 0 !important;
}
.card-content-link a i{
    height: 50px;
}
.text-989898{
    color: #989898;
}
.outline-none {
    outline: none !important;
}
.mx-w-900{
    max-width: 900px;
}
.modal-border{
    position: relative;
    display: none;
}
.modal-border:before,.modal-border:after {
    position: absolute;
    top: -18px;
    left: -0.5px;
    height: 50px;
    width: 30px;
    content: '';
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-image: url('Site-Images/left.svg');
    z-index: 999;
}
.modal-border:after {
    right: 0;
    left: auto;
    background-image: url('Site-Images/right.svg');
}
.modal-dialog-scrollable .modal-content {
    overflow: auto;
}
.top-table table tbody td {
    font-size: 14px;
}
.border-darkblue {
    border: 2px solid #2C61AE;
}

.modal-content::-webkit-scrollbar {
    display: none;
}
body.unpaid-pemits-page .modal-border:before,body.unpaid-pemits-page .modal-border:after,
body.permits-page .modal-border:before, body.permits-page .modal-border:after {
    top: -10px;
}
.modal.fade {
    background-color: #ffffffd4;
}
.garage-sales-permit-section h3.section-header {
    text-transform: none;
    font-size: 23px !important;
}
.menu-contents ul li.ps-2 {
    padding-left: 0 !important;
}
.portal-page-header .container,.burbank-register-header .container,body.login-page-v2 .container{
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}
.modal-backdrop.show{
    opacity: 0;
}
.login-page-v2 input {
    background-position: 96%;
    background-size: 20px;
    background-repeat: no-repeat;
}
.menu-toggle .user-profile {
    padding-left: 13px !important;
    padding-right: 13px !important;
}
.user-icon.menu-toggle {
    background-size: 60px;
}
body.login-page,body.login-page-v2,body.business-login-page-v2,body.Dop-login-page {
    overflow-y: hidden !important;
}
@media screen and (min-width: 1800px) {
    .menu-contents ul li a {
        background-position: 5%;
    }
    /*body{
        zoom: 85% !important;
    }*/
}
@media screen and (min-width: 2800px) {
    /*body{
        zoom: 100% !important;
    }*/
}
@media screen and (min-width: 1200px) {
    .content-wrap .col-xl-3 {
        width: 31%;
    }
}
@media screen and (max-width: 1400px) {
    .block-height{
        height: 65px;
    }
}
@media screen and (max-width: 1280px) {
    body.login-page,body.login-page-v2,body.business-login-page-v2,body.Dop-login-page {
        overflow-y: auto !important;
    }
}
@media screen and (max-width: 1200px) {
    .portal-page-header .navbar a.navbar-brand img {
        width: 160px !important;
    }
}
@media screen and (max-width: 1024px) {
    body {
        /*zoom: normal !important;*/
        overflow-y: auto !important;
        min-height: auto !important;
        height: auto !important;
    }
    .content-container,.bg-image {
        min-height: 100vh !important;
    }
}

.menu-contents { 

Min-height: 940px !important; 

} 

.form-group { 

margin-left: 15% !important; 

} 

 

.fancybox-wrap { 

margin-left: 15% !important; 

} 

 

.inspection-info { 

margin-left: 15% !important; 

} 

 

 

.border-bottom { 

border-bottom:  none !important; 

} 

 .table-sm { 
margin-left: 1%  !important; 
} 